<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfect Match</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="background.css"> 
  <link rel="stylesheet" href="title.css">

  <!-- todo lo de la importacion del font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">

</head>
<body>
  <div class="logo-container">
    <img src="/path/to/your-logo.png" alt="Logo" class="logo-img">
  </div>
  
  <!-- todo del fondo con los colorcitos -->
  <div class="gradient-bg">
    <svg xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
      </defs>
    </svg>
    <div class="gradients-container">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g5"></div>
      <div class="interactive"></div>
    </div>
  </div>

 <!-- contenido principal encima del fondo -->
  <div class="text-container">
    <main class="container">
    
        <!-- titulo que cambia las palabras -->
        <div class="title-card">
          <div class="loader">
            Your perfect
            <div class="words">
              <span class="word">concealer</span>
              <span class="word">foundation</span>
              <span class="word">blush</span>
              <span class="fixedword">match</span>
            </div>
          </div>
        </div>
      

      <h2>Descubre tu combinación perfecta de maquillaje</h2>
      <a href="/param1" class="title-btn">Get started</a>
    </main>
  </div>

  <script>

    // Movimiento del círculo interactivo
    document.addEventListener('DOMContentLoaded', () => {
      const interBubble = document.querySelector('.interactive');
      let curX = 0, curY = 0, tgX = 0, tgY = 0;

      function move() {
        curX += (tgX - curX) / 20;
        curY += (tgY - curY) / 20;
        interBubble.style.transform = `translate(${Math.round(curX)}px, ${Math.round(curY)}px)`;
        requestAnimationFrame(move);
      }

      window.addEventListener('mousemove', (e) => {
        tgX = e.clientX;
        tgY = e.clientY;
      });

      move();
    });
  </script>
  <script src="background.js"></script>
</body>
</html>
