<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="register-login.css">

<!-- todo lo de la importacion del font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">


</head>
<body style="background-color: white;">
  <header>
    <h1>Perfect Match</h1>
  </header>
<!-- cajita de registro-->
  <main class="register-login-wrapper">
    <div class="register-login-container">
      <form action="dashboard.html" method="GET">
        <div class="register-login-head">
          <span>Log in</span>
          <p>Ingresa a tu cuenta</p>
        </div>

        <div class="register-login-inputs">
          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
        </div>


        <button type="submit">Log in</button>
      </form>

      <div class="register-login-footer">
        <p>No tienes una cuenta? <a href="register.html">sign up</a></p>

    </div>
  </main>

  
</body>
</html>
