
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cal Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2rem;
  position: relative;
  z-index: 1; 
}

.register-login-container {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}


.register-login-head {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.register-login-head span {
  font-size: 2rem;
  font-weight: bold;
  color: #ff69b4;
}

.register-login-head p {
  font-size: 1rem;
  color: #555;
}

/* Input fields */
.register-login-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.register-login-inputs input {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.2s;
}

.register-login-inputs input:focus {
  border-color: #ff69b4;
  outline: none;
}

/* Submit button */
button[type="submit"] {
  background-color: #ff69b4;
  color: white;
  padding: 0.75rem;
  margin-top: 1rem;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  font-family: 'Cal Sans', sans-serif;
}

button[type="submit"]:hover {
  background-color: #e055a2;
}


.register-login-footer {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.register-login-footer a {
  color: #ff69b4;
  font-weight: bold;
  text-decoration: none;
}

.register-login-footer p{
   color: #555;
}


.register-login-footer a:hover {
  text-decoration: underline;
}

.error-message {
  color: rgb(223, 102, 102);
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* para que no haya problema con la implementacion de background.css */
header,
footer {
  display: none;
}
