<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
    <link rel="stylesheet" href="/results.css">
</head>
<body>
    <header><h1>Perfect Match</h1></header>
    <h1>Productos recomendados</h1>

    <div class="success-message">
    <p>¡Encontramos los productos perfectos para ti!</p>
    </div>

    <ul>
        <li th:each="producto : ${productos}">
            <img th:src="${producto.imagenUrl}" alt="Imagen de producto" style="width: 150px; height: auto;">
            <strong th:text="${producto.nombre}"></strong> -
            <span th:text="${producto.marca}"></span> -
            <span th:text="${producto.descripcion}"></span> -
            <span th:text="'Q' + ${producto.precio}"></span>
        </li>
    </ul>
    <a href="/dashboard" class="btn">Volver al inicio!</a>

    <div class="floating-hearts">
    <div class="heart">💖</div>
    <div class="heart">💖</div>
    <div class="heart">💖</div>
    <div class="heart">💖</div>
    <div class="heart">💖</div>
    <div class="heart">💖</div>
    <div class="heart">💖</div>
    <div class="heart">💖</div>
    <div class="heart">💖</div>
    </div>

</body>
</html>
